In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")

In [3]:
from src.utils import load_dataset

In [5]:
df = load_dataset("cleaned/cleaned.csv")

2025-01-13 23:19:45,957: INFO, on helpers, lineno=16, dataset load from /home/adnan/Documents/customer-churn-prediction/data/cleaned/cleaned.csv

In [8]:
df[df["churn"]  == 0]

,age,gender,tenure,usage_frequency,support_calls,payment_delay,subscription_type,contract_length,total_spend,last_interaction,churn
135,36,Female,5,6,0,6,Premium,Quarterly,787.0,9,0
146,48,Male,49,20,1,7,Standard,Quarterly,953.0,30,0
153,24,Male,14,22,2,17,Basic,Quarterly,594.0,18,0
176,48,Male,3,30,1,10,Premium,Annual,850.0,29,0
187,32,Female,35,9,1,15,Premium,Quarterly,951.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...
486509,65,Male,8,13,1,27,Basic,Monthly,121.0,13,0
486510,55,Female,42,18,2,2,Premium,Annual,193.0,10,0
486511,64,Female,2,6,0,22,Premium,Quarterly,809.0,6,0
486514,54,Male,15,30,7,5,Standard,Annual,838.0,12,0
486515,23,Female,10,2,8,1,Standard,Monthly,806.0,28,0

In [7]:
df.dtypes

age                    int64
gender                object
tenure                 int64
usage_frequency        int64
support_calls          int64
payment_delay          int64
subscription_type     object
contract_length       object
total_spend          float64
last_interaction       int64
churn                  int64
dtype: object